<div class="card mt-3">
  <form #Questions="ngForm" (ngSubmit)="submitQuestions(Questions)">
    <div class="card-header"><h4>Create essay type questions:</h4></div>
    <div style="padding: 10px">

<label>Question : </label><div style="display: inline-block;float: right"><label> Marks : </label><input name = "marks" type="text" ngModel/></div>
        <textarea  type="text"  name="question" rows="2" style="width: 100% "   ngModel ></textarea>

      </div>
      <button class="btn-submit" type="submit">Save</button>
      <button class="btn-reset" type="button" (click)="reset(Questions)">Reset</button>
  </form>
</div>

<div class="card mt-3" *ngFor="let question of questionsList; index as i">
  <div *ngIf="question?.question" class="card-header">
    <h4  style="display: inline-block; width: 90%" >Question {{i+1}} </h4> <button  style="float: right;" class="btn-sm-sm" type="button" (click)="DeleteQuestion(question?.id,i)">Remove</button></div>
  <div *ngIf="question?.question" class="card-body">
    <h5 *ngIf="question?.question">{{question?.question}}</h5>
    <p *ngIf="question?.question"> Marks : {{question?.marks}}</p>
   </div>
  <div style="padding-bottom: 6px"></div>

</div>
