<section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Student Registration</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="StudentFirstName" class="form-control form-control-lg" />
                  <label class="form-label" for="StudentFirstName">First Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="StudentLastName" class="form-control form-control-lg" />
                  <label class="form-label" for="StudentLastName">Last Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="StudentFullName" class="form-control form-control-lg" />
                  <label class="form-label" for="StudentFullName">Full Name</label>
                </div>

                <div class="inline">
                  <input style="padding: 5px;font-family: 'Roboto', sans-serif;font-weight: bold" type="date" id="StudentDOB" min="1920-04-01" max="2022-04-30" (change)="findAge()"  /><br>
                  <label for="StudentDOB">Birth Date: </label>
                </div>

                <div class="inline">
                  <input style="width: 60%" id="StudentAge" type="text" value={{[StudentAge]}} class="form-control form-control-lg">
                  <label class="form-label" for="StudentAge">Age</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="StudentAddress" class="form-control form-control-lg" />
                  <label class="form-label" for="StudentAddress">Address</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="StudentTp" class="form-control form-control-lg" />
                  <label class="form-label" for="StudentTp">Phone</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="StudentPassword" class="form-control form-control-lg" required/>
                  <label class="form-label" for="StudentPassword">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="RepeatPw" class="form-control form-control-lg" (keyup)="VerifyPasswords()"/>
                  <label class="form-label" for="RepeatPw">Re-type password</label><span id='message'></span>
                </div>


                <div class="d-flex justify-content-center">
                  <button type="button" [disabled]="status"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                                                                                        class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
