<div style="padding-top: 35px"></div>
<div style="padding-left: 20px;padding-right: 20px" >
<div><a href="Subjects/create" class="btn btn-primary" *ngIf="showSubjectList">Create a new subject</a></div>
<div><button (click)="reload()" class="btn btn-primary" *ngIf="showSelectedSubject">Select a different subject</button><div style="display: inline-block;padding-right: 10px">  </div>
  <div style="display: inline-block" *ngIf="!showMcqCreate" > <div  (click)="loadCreateAssi()" class="btn btn-primary" *ngIf="showAddAssignmentButton">Add a new assignment</div></div></div>

  <div *ngIf="showSubjectList">
<div  *ngFor="let obj of myObj">
<div class="card md-4" >
  <div class="card-header">
    <h5 class="card-title">{{obj?.subjectName}} <p style="float: right ;font-size: x-small; display: inline-block">Created by : {{obj?.createrFirstName}}</p> </h5>  </div>
    <div class= card-body>
    <p class="card-text">{{obj?.description}}.</p>
    <p class="card-text">{{obj?.subjectId}}</p>

      <button *ngIf="EnrollButton(obj?.subjectId)"  style="float: right" (click)="EnrollTeacher(obj?.subjectId)">Become a Teacher</button>
    <button [disabled]="checkTeacher(obj?.createdBy,obj?.subjectId)" (click)="loadSubject(obj?.subjectId)"  class="btn btn-primary ">Manage</button> <!--stretched-link-->
    </div>
</div><div style="padding: 6px"></div>
</div>
</div>

<div *ngIf="showSelectedSubject&&showAddAssignmentButton">
  <form #updateSub="ngForm" (ngSubmit)="editSub(updateSub.value)">
 <div style="padding-bottom: 10px;padding-top: 10px" *ngIf="!showUpdateInputField"> <h2 class="d-inline">{{myObj1?.subjectName}} </h2> <button style="float: right"  (click)="showInputFields()">edit</button><button style="float: right" (click)="deleteSub(myObj1?.subjectId)">Delete</button>
   <h4>{{myObj1.description}}</h4></div>
    <legend></legend>
    <div  *ngIf="showUpdateInputField">
      <input style="font-size:25px; width: 100%" type="text" name = "subjectName" ngModel="{{myObj1?.subjectName}}" ><br>
    <textarea rows="4" style="width: 100%; font-size: 15px"  name = "description" ngModel="{{myObj1?.description}}" ></textarea><button type="submit" >Update</button>
    </div>  </form>


    <div *ngIf="!showUpdateAssignmentFields">
    <div class="card mt-3" *ngFor="let obj0 of myObj1?.assigmentList ">

    <div class="card-header"><h3 style="display: inline-block">{{obj0?.assigmentTitle}}</h3><button style="float: right;display: inline-block"  (click)="showUpdateFieldsAssi(obj0?.assigmentID)">Manage</button><button style="float: right;display: inline-block"  (click)="deleteAssi(obj0?.assigmentID)">Delete</button></div>
      <div class="card-body"><h5>{{obj0?.assigmentDiscription}}</h5>
    <p>{{obj0?.assigmentData}}</p></div>


    </div> </div></div>

    <div *ngIf="showUpdateAssignmentFields">
      <form #editAssig="ngForm" (ngSubmit)="editAssi(editAssig.value)">
      <button *ngIf="!ShowAssiUpdateFields" style=" float: right" (click)="showAssiUpdateFields()"  >Edit</button>
      <div *ngFor="let obj00 of myObj1?.assigmentList">
        <div *ngIf="obj00.assigmentID == currentAssignmentId">
         <div *ngIf="ShowAssiUpdateFields" >   <input style="font-size:25px; width: 100%" type="text" name = "assigmentTitle" ngModel="{{obj00?.assigmentTitle}}" ><br>
          <textarea rows="4" style="width: 100%; font-size: 15px"  name = "assigmentDiscription" ngModel="{{obj00?.assigmentDiscription}}" ></textarea>
          <textarea rows="4" style="width: 100%; font-size: 15px"  name = "assigmentData" ngModel="{{obj00?.assigmentData}}" ></textarea>
           <div class="form-outline mb-2">
             <select style=" font-size: 15px" class="form-control"  name="noOfAttempts" rows="6" ngModel="{{obj00?.noOfAttempts}}">
               <option value="1" selected>1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="99">Unlimited</option>
             </select>
             <label class="form-label" >Allowed no.of Attempts</label>
           </div>
           <div class="form-outline mb-2">
             <input type="datetime-local"   style=" font-size: 15px" class="form-control" id="form6Example10" name="startTime" rows="6" ngModel="{{obj00?.startTime}}">
             <label class="form-label" >Start date and Time</label>
           </div>
           <div class="form-outline mb-2">
             <input type="datetime-local"   style=" font-size: 15px" class="form-control" id="form6Example11" name="endTime" rows="6" ngModel="{{obj00?.endTime}}">
             <label class="form-label" >End date and Time</label>
           </div>
         </div>
          <div *ngIf="!ShowAssiUpdateFields">
            <h2>{{obj00?.assigmentTitle}}</h2>
            <h5>{{obj00?.assigmentDiscription}}</h5>
            <p>{{obj00?.assigmentData}}</p>
          </div>
          <button type="submit" *ngIf="ShowAssiUpdateFields"  >Update</button>


        </div>
      </div>
      </form>
    </div>




  <div *ngIf="showUpdateAssignmentFields">
  <button  (click)="showMcq(currentAssignmentId)"  >Add Mcq Questions</button>
    <button   (click)="showFileUploadFields()" >Add file</button>
    <button   (click)="showEssayQuestion()" >Add essay type Question</button>
</div>


  <div style="padding: 10px" *ngIf="showCreateAssign">    <app-create-assingement></app-create-assingement>  </div>
<div *ngIf="showMcqCreate">  <app-mcq></app-mcq></div>

<div *ngIf="showFileUploadField">  <app-file-upload></app-file-upload></div>
<div *ngIf="showEssayQ" ><app-essay-question></app-essay-question></div>
</div>


