<div style="padding: 10px; width: 40%">
<form #CreateSub="ngForm"  (ngSubmit)="Submit(CreateSub.value)" >
  <!-- Number input -->
  <div class="form-outline mb-2">
    <input type="text" id="form6Example6" name="subjectName" class="form-control" ngModel/>
    <label class="form-label" for="form6Example6">Subject Name</label>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-2">
    <textarea class="form-control" id="form6Example7" name="description" rows="4" ngModel></textarea>
    <label class="form-label" for="form6Example7">Description</label>
  </div>
  <div class="form-check d-flex justify-content-center mb-2">
    <input class="form-check-input me-1" type="checkbox" value="" id="form6Example8" name="active" checked ngModel/>
    <label class="form-check-label" for="form6Example8"> Make visible to Everyone </label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Create</button>
</form>
</div>
