<div *ngIf="authService.isLoggedIn()">
<ul class="nav nav-pills pull-right " >
  <li role="presentation" ><a routerLink="/Login">Login</a></li>
  <li role="presentation"><a routerLink="/Student">Student Registration</a></li>
  <li role="presentation"><a routerLink="/Teacher">Teacher Registration</a></li>
<!--  <li role="presentation"><a routerLink="/StudentDetails">My Profile</a></li>
  <button class="btn btn-outline-primary" (click)="logout()" >Logout</button>-->
</ul>
</div>
<div *ngIf="authService.isNotLoggedIn()">
  <ul class="nav nav-pills pull-right " >
    <li role="presentation"><a routerLink="/StudentDetails">My Profile</a></li>
   <li *ngIf="!authService.getRole()" role="presentation"><a routerLink="/Subjects">Subjects</a></li>  <!--teachers will see-->
    <li *ngIf="!authService.getRole()" role="presentation"><a routerLink="/Submissions">Submissions</a></li>
    <li *ngIf="authService.getRole()" role="presentation"><a routerLink="/Subject/view">Subjects</a></li> <!--Stud will see-->
    <button class="btn btn-outline-primary" (click)="logout()" >Logout</button>
  </ul>
</div>

<router-outlet></router-outlet>
