<form #CreateAssi="ngForm"  (ngSubmit)="Submit(CreateAssi.value)" >

  <div class="form-outline mb-2">
    <input style=" font-size: 25px" type="text" id="form6Example6" name="assigmentTitle" class="form-control" ngModel/>
    <label class="form-label" for="form6Example6">Assignment Title</label>
  </div>

  <div class="form-outline mb-2">
    <textarea style=" font-size: 20px" class="form-control" id="form6Example7" name="assigmentDiscription" rows="3" ngModel></textarea>
    <label class="form-label" for="form6Example7">Description</label>
  </div>
  <div class="form-outline mb-2">
    <textarea  style=" font-size: 15px" class="form-control" id="form6Example8" name="assigmentData" rows="6" ngModel></textarea>
    <label class="form-label" for="form6Example7">Body</label>
  </div>
  <div class="form-outline mb-2">
    <select style=" font-size: 15px" class="form-control" id="form6Example9" name="noOfAttempts" rows="6" ngModel>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="Unlimited">Unlimited</option>
    </select>
    <label class="form-label" for="form6Example7">Allowed no.of Attempts</label>
  </div>
  <div class="form-outline mb-2">
    <input type="datetime-local"   style=" font-size: 15px" class="form-control" id="form6Example10" name="startTime" rows="6" ngModel>
    <label class="form-label" for="form6Example7">Start date and Time</label>
  </div>
  <div class="form-outline mb-2">
    <input type="datetime-local"   style=" font-size: 15px" class="form-control" id="form6Example11" name="endTime" rows="6" ngModel>
    <label class="form-label" for="form6Example7">End date and Time</label>
  </div>

  <button style="width: auto" type="submit" class="btn btn-primary btn-block mb-4">Create</button>


</form>
