<div>
  <form #updateSub="ngForm" (ngSubmit)="submitMcq(updateSub)">
    <legend>MCQ Question:</legend>
    <label style="padding: 4px; padding-right: 10px" > Question :  </label>
    <textarea  type="text"  name="question" rows="1" style="width: 50% "   ngModel></textarea>
    <div *ngFor=" let choice of Choices ; index as i">
      <label style="padding: 4px; padding-right: 10px" > {{choice}} :  </label>

      <textarea  type="text"  name="{{choice}}" rows="1" style="width: 50% "   ngModel></textarea>
      <input type="checkbox" name="ans{{i+1}}" class="rdCheck"  ngModel/> Correct Answer
    </div>
    <button class="btn-add" type="button" (click)="addNewChoice()">Add new choice</button>
    <br><br>
    <button class="btn-submit" type="submit">Save</button>
    <button class="btn-reset" type="button" (click)="reset(updateSub)">Reset</button>
  </form>
</div>

<div *ngFor="let mcq of mcqList; index as i">
  <div *ngIf="mcq.choice1"><h4 class="d-inline">Question {{i+1}} </h4> <button class="btn-sm-sm" type="button" (click)="DeleteMcq(mcq.id)">Remove</button></div>
  <legend></legend>
  <h3 *ngIf="mcq.choice1"> Question : {{mcq.question}}</h3>
  <h5 *ngIf="mcq.choice1"> Choice 1 : {{mcq.choice1}}<span *ngIf="mcq.ans1" class="glyphicon glyphicon-ok"></span></h5>
  <h5 *ngIf="mcq.choice2"> Choice 2 : {{mcq.choice2}}<span *ngIf="mcq.ans2" class="glyphicon glyphicon-ok"></span></h5>
  <h5 *ngIf="mcq.choice3"> Choice 3 : {{mcq.choice3}}<span *ngIf="mcq.ans3" class="glyphicon glyphicon-ok"></span></h5>
  <h5 *ngIf="mcq.choice4"> Choice 4 : {{mcq.choice4}}<span *ngIf="mcq.ans4" class="glyphicon glyphicon-ok"></span></h5>
  <h5 *ngIf="mcq.choice5"> Choice 5 : {{mcq.choice5}}<span *ngIf="mcq.ans5" class="glyphicon glyphicon-ok"></span></h5>
  <h5 *ngIf="mcq.choice6"> Choice 6 : {{mcq.choice6}}<span *ngIf="mcq.ans6" class="glyphicon glyphicon-ok"></span></h5>
  <legend></legend>
  <div style="padding-bottom: 6px"></div>

</div>
