<div style="padding-top: 35px"></div>
<div style="padding-left: 20px;padding-right: 20px" >
<div class="container">
  <div class="main-body">



      <div class="row gutters-sm" >
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{firstName}}</h4>
                <p class="text-secondary mb-1">{{role}}</p>

                <button class="btn btn-primary">Follow</button>
                <button class="btn btn-outline-primary">Message</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3" *ngIf="StudentUser">

            <div class="card h-100">
              <div style="padding-left: 16px;padding-top: 8px"><h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Marks</h6>
              <div class="card-body" *ngFor="let mark of marks" >

                <small>{{mark?.assignmentName}}</small>
                <div class="progress mb-3" style="height: 5px">
                  <div class="progress-bar bg-primary" role="progressbar" [style.width]='width(mark?.marks)+"%"' aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <form #UpdateData="ngForm"  (ngSubmit)="Update(UpdateData.value)" >
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
              <h6 class="mb-0">First Name</h6>
            </div>
              <div class="col-sm-9 text-secondary" *ngIf="HideDetails">
                {{firstName}}
              </div>
              <input class="col-sm-9 text-secondary" *ngIf="ShowInputFields" name = "firstName" ngModel="{{firstName}}" required>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">

                  <h6 class="mb-0">Last Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{lastName}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary" *ngIf="HideDetails">
                {{fullName}}
              </div>
                <input class="col-sm-9 text-secondary" *ngIf="ShowInputFields" name = "fullName" ngModel="{{fullName}}" required>
              </div>
            <hr *ngIf="StudentUser">
            <div class="row" *ngIf="StudentUser">
              <div class="col-sm-3">
                <h6 class="mb-0">Birth Date</h6>
              </div>
              <div class="col-sm-9 text-secondary" >
                {{birthDate}}
              </div>
            </div>
            <hr *ngIf="StudentUser">
            <div class="row" *ngIf="StudentUser">
              <div class="col-sm-3">
                  <h6 class="mb-0">Age</h6>
                </div>
                <div class="col-sm-9 text-secondary" >
                  {{age}}
                </div>
              </div>
              <hr  *ngIf="TeacherUser">

            <div class="row" *ngIf="TeacherUser">
              <div class="col-sm-3">
                <h6 class="mb-0">NIC</h6>
              </div>
              <div class="col-sm-9 text-secondary" *ngIf="HideDetails">
{{nIc}}
              </div>
              <input class="col-sm-9 text-secondary" *ngIf="ShowInputFields" name = "nIc" ngModel="{{nIc}}"  required>

            </div>
            <hr>
              <div class="row">
                <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary" *ngIf="HideDetails">
                    {{address}}
                  </div>
                <input class="col-sm-9 text-secondary" *ngIf="ShowInputFields" name = "address" ngModel="{{address}}" required>

              </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary" *ngIf="HideDetails">
                {{tp}}
              </div>
                  <input class="col-sm-9 text-secondary" *ngIf="ShowInputFields" name = "tp" ngModel="{{tp}}" required>

                </div>
            <hr>
            <div class="row">

              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary" >
                {{username}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12" *ngIf="HideDetails">
                <a class="btn btn-info " target="__blank" (click)="LoadEdit()">Edit</a>
              </div>
              <div class="col-sm-12" *ngIf="ShowInputFields">
                             <button type="submit"
                        class="btn btn-info " >Save</button>
              </div>
            </div>
          </div>
          </form>
        </div>

        <div class="row gutters-sm" *ngFor="let subject of subjects">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body" >
                <h6 class="d-flex align-items-center mb-3">{{subject.subjectName}}</h6>
                <small >{{subject.description}}</small>


              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>


</div>
<div >

</div>

</div>

