<div style="padding-top: 35px"></div>
<div style="padding-left: 20px;padding-right: 20px" >
  <button (click)="reload()" class="btn btn-primary" *ngIf="showSelectedSubject">Select a different subject</button>
<div *ngIf="showSubjectList">

  <div class="card md-4"  *ngFor="let obj of subjectList">
    <div class="card-header">
      <h5 class="card-title">{{obj?.subjectName}} <p style="float: right ;font-size: x-small; display: inline-block">Created by : {{obj?.createrFirstName}}</p> </h5>  </div>
    <div class= card-body>
      <p class="card-text">{{obj?.description}}.</p>
      <p class="card-text">{{obj?.subjectId}}</p>

     <button *ngIf="EnrollButton(obj?.subjectId)"  style="float: right" (click)="EnrollStudent(obj?.subjectId)">Enroll</button>
      <button [disabled]="checkStud(obj?.subjectId)" (click)="loadSubject(obj?.subjectId)"  class="btn btn-primary ">View</button> <!--stretched-link-->
    </div>

  </div></div>

  <div *ngIf="showSelectedSubject">

      <div style="padding-bottom: 10px;padding-top: 10px" > <h2 class="d-inline">{{CurrentSubject?.subjectName}} </h2>
        <h4>{{CurrentSubject?.description}}</h4></div>
      <legend></legend>


      <div class="card mt-3" *ngFor="let obj0 of CurrentSubject?.assigmentList " >

        <div class="card-header"><h3 style="display: inline-block">{{obj0?.assigmentTitle}}</h3>
         <div style="float: right"> <p> Attempts allowed = {{obj0?.noOfAttempts}}</p>
          <p> Start time = {{obj0?.startTime}}</p>
          <p> End time = {{obj0?.endTime}}</p></div>
        </div>
        <div class="card-body"><h5>{{obj0?.assigmentDiscription}}</h5><p>

          <button [disabled]="!checkDate(obj0?.startTime,obj0?.endTime,obj0?.assigmentID)" class="btn btn-primary stretched-link" (click)="ShowAssignmentContent(obj0?.assigmentID)" >Attend</button></div></div>

   </div>
<div *ngIf="showAssignmentContent">






  <button (click)="reload()" class="btn btn-primary" >Go Back</button>
  <div  class="card mt-3">
  <div class="card-header"><h3 style="display: inline-block">{{assignment4Mcq?.assigmentTitle}}</h3><p style="float: right;display: inline-block">{{counter}} Time Left....</p></div>
  <div class="card-body"><h5>{{assignment4Mcq?.assigmentDiscription}}</h5>
    <p>{{assignment4Mcq?.assigmentData}}</p>

    <div *ngIf="fileLength?.length>2" class="card mt-3" style="padding: 10px">
      <div  class="card-header">Attachments</div>
      <div class="card-body" *ngFor="let file of savedFiles">
        <div > <h6>{{file.name}}</h6><p>  {{file.type}}</p></div><div ><button  (click)="downloadFiles(file.id,file.name,file.type)"> Download </button></div>
        <legend style="padding: 6px"></legend>
      </div>  </div>

    <div style="padding-top: 20px"></div>

    <form #McqSubmit="ngForm" (ngSubmit)="submitMcq(McqSubmit)" id="mcqform">
      <div *ngFor="let mcq of assignment4Mcq?.mcqList; index as i">


        <div *ngIf="mcq.choice1" class="card-header">
   <h4 *ngIf="mcq.choice1" style="display: inline-block; width: 90%" >Q{{i+1}}. {{mcq.question}} </h4> </div>
 <div *ngIf="mcq.choice1" class="card-body">
             <div *ngIf="mcq.choice1"><input  type="radio" [name]="mcq.id" value="1" ngModel/>  1 . {{mcq.choice1}}  </div>
              <div *ngIf="mcq.choice2"><input  type="radio" [name]="mcq.id" value="2" ngModel/>  2 . {{mcq.choice2}}  </div>
              <div *ngIf="mcq.choice3"><input  type="radio" [name]="mcq.id" value="3" ngModel/>  3 . {{mcq.choice3}}  </div>
              <div *ngIf="mcq.choice4"><input  type="radio" [name]="mcq.id" value="4" ngModel/>  4 . {{mcq.choice4}}  </div>
              <div *ngIf="mcq.choice5"><input  type="radio" [name]="mcq.id" value="5" ngModel/>  5 . {{mcq.choice5}}  </div>
              <div *ngIf="mcq.choice6"><input  type="radio" [name]="mcq.id" value="6" ngModel/>  6 . {{mcq.choice6}}  </div>

    <div style="padding-bottom: 6px"></div>
 </div></div> <button *ngIf="assignment4Mcq?.mcqList" style="width: 100%;background-color: forestgreen; height: 30px;"  class="btn-submit" type="Submit" #myButton>Submit</button></form>





  </div>
  </div>
</div>
</div>






